<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940627960183-4lkgbcqmdejoqv220icfufo1eod740fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940627960183-4lkgbcqmdejoqv220icfufo1eod740fa</string>
	<key>API_KEY</key>
	<string>AIzaSyBtoxyq2bgskY1_4SaL34Y9JFtzljC5trs</string>
	<key>GCM_SENDER_ID</key>
	<string>940627960183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobilemidny.mobilemidny</string>
	<key>PROJECT_ID</key>
	<string>appointmentvideocalling-client</string>
	<key>STORAGE_BUCKET</key>
	<string>appointmentvideocalling-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940627960183:ios:a922e24ce7a563c5b60172</string>
</dict>
</plist>